html{
    font-size: 62.5%;
}

html,body{
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 300vh;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 13rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

p, a{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10%;
}

header img{
    height: 12vh;
}

header ul{
    display: flex;
    justify-content: space-between;
    gap: 40%;
    align-items: center;
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    list-style-type: None;
}

header ul li{
    color: white;
    font-family: Poppins, sans-serif;
}
 header ul a{
    text-decoration: none;
 }

.hireButton{
    width: 20%;
    height: 5vh;
    font-size: 1.5rem;
    border-radius: 1%;
    border-width: 0;
    font-family: Poppins, sans-serif;
}

.hireButton:hover{
    border-width: 2px;
    border-color: white;
    border-radius: 2%;
    border-style: solid;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.7s;
}

.hireButton:active{
    border-color: aqua;
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}