html{
    font-size: 62.5%;
}

html,body{
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 300vh;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 13rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

p, a{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10%;
}

header img{
    height: 12vh;
}

header ul{
    display: flex;
    justify-content: space-between;
    gap: 40%;
    align-items: center;
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    list-style-type: None;
}

header ul li{
    color: white;
}

header button{
    width: 20%;
    height: 5vh;
    font-size: 1.5rem;
    border-radius: 1%;
    border: 0;
    font-family: Poppins, sans-serif;
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider{
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 0.15%;
    background-color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.35;
}

.homeButtonDiv{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0vh;
}

.homeButtonDiv .roundButton{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background-color: white;
    border: none;
}

.homeButtonDiv img{
    position: absolute;
    z-index: 1001;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2vh;
}

.heroContainer{
    display: flex;
    justify-content: space-between;
    padding: 5vh 10%;
}

.heroLeft{
    width: 35%;
    display: inline-block;
}
.heroLeft img{
    height: 35vh;
    margin-bottom: 5vh;
}

.heroLeft p{
    width: 90%;
}

.leftSide{
    text-align: right;
}

.heroRight{
    width: 40%;
    display: inline-block;
}

.end{
    display: inline-block;
    position: relative;
    right: -10%;
}


.heroRight img{
    display: inline-block;
    position: relative;
    top: -5vh;
}

.heroLeft p, .heroRight p{
    padding-top: 2vh;
}

/* work section */

.work{
    height: 90vh;
    width: 100%;
    background-color: #121212;
}

.work h2{
    padding: 8vh 10%;
}

.workContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.workProject{
    height: 50vh;
    width: 25%;
}

.workImage{
    height: 30vh;
    width: 100%;
    border-radius: 2vh;
    background-color: white;
}

.work h3, .work p{
    text-align: center;
}

.work a{
    display: block;
    text-align: center;
}

.projectButton{
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    height: 7vh;
    width: 20%;
    border-radius: 3.5vh;
    border: none;
    display: block;
    margin: -3.5vh auto 0 auto;
}

.about h2{
    padding: 8vh 10%;
}

.about h3{
    text-align: center;
}

.about p{
    text-align: center;
    font-size: 2.5rem;
    width: 80%;
    margin: 2vh auto 0 auto;
}

.about img{
    display: block;
    margin: 0 auto;
}